# Prowlarr configuration
PROWLARR_URL=http://your-prowlarr-host:9696
PROWLARR_API_KEY=your-prowlarr-api-key

# Addon metadata 
ADDON_BASE_URL=https://your-addon-domain  # Need to be publicly accessible and secure (HTTPS)


# NZBDav configuration
NZBDAV_URL=http://localhost:3000
NZBDAV_API_KEY=your-nzbdav-api-key
NZBDAV_WEBDAV_URL=http://localhost:3000
NZBDAV_WEBDAV_USER=webdav-username
NZBDAV_WEBDAV_PASS=webdav-password
